body {
  margin: 0;
  font-family: "Comic Sans MS", Arial;
  background: linear-gradient(#c9f7ff, #eaffc4);
  text-align: center;
}

.screen {
  display: none;
  padding: 30px;
}

.screen.active {
  display: block;
}

button {
  padding: 12px 22px;
  margin: 8px;
  font-size: 16px;
  border-radius: 14px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

#world {
  width: 800px;
  height: 400px;
  margin: auto;
  position: relative;
  background: url("assets/spritesheet.png") center/cover;
  border-radius: 18px;
  overflow: hidden;
}

#player {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50px;
  bottom: 10px;
  background: url("assets/outfit1.png") no-repeat center/contain;
}

.trash, .obstacle {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
